{
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:jest/recommended",
    "standard"
  ],
  "globals": {
    "jasmine": true,
    "testing": true
  },
  "env": {
    "jest": true
  },
  "plugins": [
    "flowtype",
    "jest"
  ]
}
