[submodule "example-plugin"]
	path = plugins/example-plugin
	url = https://github.com/heroku/cli-engine-example-plugin
[submodule "example"]
	path = example
	url = https://github.com/heroku/cli-engine-example
[submodule "plugins/heroku-kafka-jsplugin"]
	path = plugins/heroku-kafka-jsplugin
	url = https://github.com/heroku/heroku-kafka-jsplugin
[submodule "plugins/heroku-apps"]
	path = plugins/heroku-apps
	url = https://github.com/heroku/heroku-apps
[submodule "plugins/heroku-cli-status"]
	path = plugins/heroku-cli-status
	url = https://github.com/heroku/heroku-cli-status
